<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script>
        function show(shown, hidden) {
            document.getElementById(shown).style.display = 'block';
            document.getElementById(hidden).style.display = 'none';
            return false;
        }
    </script>
</head>
<body>
<header>
    <!-- TODO заголовок -->
    <div class="w-100 p-3" style="background-color: #343a40;">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <span class="navbar-text">
           <b lass="navbar-brand" th:text="${auth_user.getUsername()}"></b>
                    with roles:
            <span lass="navbar-brand" th:text="${auth_user.getRoleToString()}"> </span>
        </span>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                </ul>
                <ul class="navbar-nav ms-auto mb-2 ms-lg-0 ">
                    <li class="nav-item px-3">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<!--                                   TODO Панель админа                                   -->
<div class="container-fluid" id="admin_page" style="display: block">
    <div class="row">
        <div class="col-2 bg-white pt-3 min-vh-100 px-0">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                <a href="#" class="nav-link active" >Admin</a>
                </li>
                <li class="nav-item">
                <a href="#" class="nav-link" onclick="return show('user_page', 'admin_page');">User</a>
                </li>
            </ul>
        </div>

<!--- TODO таблица пользователей -->
        <div class="col bg-light" id="user_table" style="display: block;" >
                <h2><b> Admin panel</b></h2>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#" class="nav-link active" >User table</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" onclick="return show('new_user', 'user_table');">New user</a>
                </li>
            </ul>
            <div class="container-fluid border">
                <h4><b> All users</b></h4>
            </div>
            <div class="container-fluid border bg-white px-4 py-3 border-top">
              <table class="table table-striped ">
                 <thead>
                 <tr>
                     <th scope="col">ID</th>
                     <th scope="col">First Name</th>
                     <th scope="col">Last Name</th>
                     <th scope="col">Age</th>
                     <th scope="col">Email</th>
                     <th scope="col">Role</th>
                     <th scope="col">Edit</th>
                     <th scope="col">Delete</th>
                 </tr>
                 </thead>
                 <tbody>
                 <tr th:each="user : ${users}">
                     <td th:text="${user.id}"></td>
                     <td th:text="${user.firstName}"></td>
                     <td th:text="${user.age}"></td>
                     <td th:text="${user.lastName}"></td>
                     <td th:text="${user.username}"></td>
                     <td th:text="${user.getRoleToString()}"></td>

                     <td>
                         <!--  Button trigger modal edit -->
                         <button type="button" class="btn btn-info" data-toggle="modal"
                                 th:data-target="${'#editModal' + user.id}">
                             Edit
                         </button>
                         <!-- TODO модальное окно редактирования-->
                         <div class="modal fade" th:id="${'editModal'  + user.id}" tabindex="-1"
                              role="dialog"
                              th:aria-labelledby="${'editModalLabel' + user.id}"
                              aria-hidden="true">
                             <form class="needs-validation" th:method="PATCH" th:action="@{/admin}" th:object="${user_edit}">
                             <div class="modal-dialog" role="document">
                                 <div class="modal-content">
                                     <div class="modal-header">
                                         <h5 class="modal-title" th:id="${'editModalLabel' + user.id}">Edit user</h5>
                                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                             <span aria-hidden="true">&times;</span>
                                         </button>
                                     </div>
                                     <div class="modal-body">
                                         <div class="mx-auto" style="width: 200px; height: 600px">
                                             <p class="text-center">
                                                 <b><label for="id">ID</label></b><br>
                                                 <input type="text" name="id" th:value="${user.id}"
                                                        readonly
                                                        class="readonly"
                                                        id="id"/>
                                             </p>
                                             <p class="text-center">
                                                 <b><label for="first_name">First name</label></b><br>
                                                 <input type="text" name="firstName" th:value="${user.firstName}"
                                                        id="first_name"
                                                        required/>
                                             </p>
                                             <p class="text-center">
                                                 <b><label for="last_name">Lastname</label></b><br>
                                                 <input type="text" name="lastName" th:value="${user.lastName}"
                                                        id="last_name"
                                                        required/>
                                             </p>
                                             <p class="text-center">
                                                 <b><label for="age">Age</label></b><br>
                                                 <input type="number" name="age" th:value="${user.age}"
                                                        id="age"
                                                        required/>
                                             </p>
                                             <p class="text-center">
                                                 <b><label for="username">Email</label></b><br>
                                                 <input type="email" name="username" th:value="${user.username}"
                                                        id="username"
                                                        required/>
                                             </p>
                                             <p class="text-center">
                                                 <label for="password"><b>Password</b></label><br>
                                                 <input type="password" name="password" th:value="${user.password}"
                                                        id="password"
                                                        required/>
                                            </p>
                                            <p class="text-center">
                                                <label for="role" ><b>Role</b></label><br>
                                                <select multiple class="form-control "
                                                        id="role"
                                                        name="roles_string"
                                                        size="2"
                                                        required>
                                                    <option value="1">USER</option>
                                                    <option value="2">ADMIN</option>
                                                </select>
                                            </p>
                                         </div>
                                     </div>

                                     <div class="modal-footer">
                                         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                         <button class="btn btn-primary" type="submit">Edit</button>
                                     </div>

                                 </div>
                             </div>
                             </form>
                         </div>

                     </td>
                     <td>
                         <!-- TODO Button trigger modal delete -->
                         <button type="button" class="btn btn-danger" data-toggle="modal" th:data-target="${'#deleteModal' + user.id}">
                             Delete
                         </button>
                         <!-- TODO модальное окно удаления form > -->
                         <div class="modal fade" th:id="${'deleteModal'  + user.id}" tabindex="-1"
                              role="dialog"
                              th:aria-labelledby="${'deleteModalLabel' + user.id}"
                              aria-hidden="true">
                             <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.id})}">
                                 <div class="modal-dialog" role="document">
                                     <div class="modal-content">
                                         <div class="modal-header">
                                             <h5 class="modal-title" th:id="${'deleteModalLabel' + user.id}">Delete user</h5>
                                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                 <span aria-hidden="true">&times;</span>
                                             </button>
                                         </div>
                                         <div class="modal-body">
                                             <div class="mx-auto" style="width: 200px; height: 500px">
                                                 <p class="text-center">
                                                     <b><label for="id">ID</label></b>
                                                     <input type="text" name="id" th:value="${user.id}"
                                                            readonly disabled
                                                            id="id"/>
                                                 </p>
                                                 <p class="text-center">
                                                     <b><label for="first_name">First name</label></b>
                                                     <input type="text" name="firstName" th:value="${user.firstName}"
                                                            readonly disabled
                                                            id="first_name"/>
                                                 </p>
                                                 <p class="text-center">
                                                     <b><label for="last_name">Lastname</label></b>
                                                     <input type="text" name="lastName" th:value="${user.lastName}"
                                                            readonly disabled
                                                            id="last_name"/>
                                                 </p>
                                                 <p class="text-center">
                                                     <b><label for="age">Age</label></b>
                                                     <input type="number" name="age" th:value="${user.age}"
                                                            readonly disabled
                                                            id="age"/><br>
                                                 </p>
                                                 <p class="text-center">
                                                     <b><label for="username">Lastname</label></b>
                                                     <input type="text" name="username" th:value="${user.username}"
                                                            readonly disabled
                                                            id="username"/>
                                                 </p>

                                                 <div class="form-group">
                                                     <p class="text-center">
                                                         <b><label for="role">Role</label></b><br>
                                                         <select multiple class="form-control" id="role"
                                                                 disabled
                                                                 name="roles_string"
                                                                 size="2">
                                                             <option value="1">USER</option>
                                                             <option value="2">ADMIN</option>
                                                         </select>
                                                     </p>
                                                 </div>
                                             </div>
                                         </div>
                                         <div class="modal-footer">
                                             <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                             <input class="btn btn-danger" type="submit" value="Delete"/>
                                         </div>

                                     </div>
                                 </div>
                             </form>
                         </div>
                        <!--END-->
                     </td>
                 </tr>
                 </tbody>
             </table>
            </div>
        </div>

<!--TODO Создание нового пользователя -->
        <div class="col bg-light" id="new_user" style="display: none">
                <h2><b> Admin panel</b></h2>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#" class="nav-link" onclick="return show('user_table', 'new_user');">User table</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link active">New user</a>
                </li>
            </ul>

            <div class="container-fluid border bg-light">
                <h4><b> Add new user</b></h4>
            </div>
            <div class="container-fluid border px-4 py-3 border-top bg-white">
                <div class="container">
                    <div class="row justify-content-md-center">
                        <form th:method="POST" th:action="@{/admin}" th:object="${user_edit}">
                            <div class="form-group">
                            <p class="text-center">
                                <b><label for="first_name">First name</label></b><br>
                                <input type="text" name="firstName" id="first_name" required/>
                            </p>
                            </div>
                            <div class="form-group">
                            <p class="text-center">
                                <b><label for="last_name">Lastname</label></b><br>
                                <input type="text" name="lastName" id="last_name" required/>
                            </p>
                            </div>
                            <div class="form-group">
                            <p class="text-center">
                                <b><label for="age">Age</label></b><br>
                                <input type="number" name="age" id="age" required/>
                            </p>
                            </div>
                            <div class="form-group">
                            <p class="text-center">
                                <b><label for="username">Email</label></b><br>
                                <input type="email" name="username" id="username" required/>
                            </p>
                            </div>
                            <div class="form-group">
                            <p class="text-center">
                                <b><label for="password">Password</label></b><br>
                                <input type="password" name="password" id="password" required/>
                            </p>
                            </div>
                            <div class="form-group">
                                <p class="text-center">
                                    <b><label for="role">Role</label></b><br>
                                    <select multiple class="form-control" id="role"
                                            name="roles_string"
                                            size="2"
                                            required>
                                        <option value="1">USER</option>
                                        <option value="2">ADMIN</option>
                                    </select>
                                </p>
                            </div>
                            <div class="form-group">
                            <p class="text-center">
                                <button class="btn btn-success" type="submit">Add new user</button>
                            </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--                                   TODO Панель пользователя -->
<div class="container-fluid" id="user_page" style="display: none">
    <div class="row">
        <div class="col-2 bg-white pt-3 min-vh-100 px-0">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a href="#" class="nav-link" onclick="return show('admin_page', 'user_page');">Admin</a>
                </li>
                <li class="nav-item">
                     <a href="#" class="nav-link active">User</a>
                </li>
            </ul>
        </div>
        <div class="col bg-light">
            <h2><b>  User information-page </b></h2>
        <div class="container-fluid border bg-light">
            <h4><b> About user</b></h4>
        </div>
            <div class="container-fluid border bg-white px-4 py-3 border-top">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${auth_user.id}"></td>
                        <td th:text="${auth_user.firstName}"></td>
                        <td th:text="${auth_user.age}"></td>
                        <td th:text="${auth_user.lastName}"></td>
                        <td th:text="${auth_user.username}"></td>
                        <td th:text="${auth_user.getRoleToString()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">

</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
</body>
</html>